@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {

    /* Needed for positioning the pseudo-element */
    background-color: black;
    /* Dark background */
    /* Optional: set a default background color */
    /* Blend the background image with the color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}


.mainContainerRight img {
    width: 100%;
}

@media screen and (max-width:600px) {
    .mainContainer {
        flex-direction: column;
        gap: 2rem;
        padding-top: 1.3rem;
    }

    .mainContainerLeft {
        flex: 1;
        padding-top: 1.3rem;
    }

    .mainContainerRight {
        flex: 1;
        ;
    }
}